* {
  font-family: "Montserrat Alternates", sans-serif;
  cursor: none;
}

body {
  background: #1F1F1F;
  margin: 0;
}

header .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 100px;
}
@media (max-width: 992px) {
  header .header {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
}
header .header__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
@media (max-width: 992px) {
  header .header__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}
header .header__item.canvas__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header__item.canvas__item img {
  width: 50%;
}
@media (max-width: 992px) {
  header .header__item.canvas__item {
    margin-top: 25px;
  }
}
header .header__item .title {
  padding-top: 130px;
  font-style: normal;
  font-weight: bold;
  font-size: 78px;
  line-height: 116%;
  color: #FFFFFF;
}
@media (max-width: 992px) {
  header .header__item .title {
    padding-top: 25px;
    text-align: center;
    font-size: 62px;
  }
}
@media (max-width: 768px) {
  header .header__item .title {
    padding-top: 25px;
    text-align: center;
    font-size: 36px;
  }
}
header .header__item .subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 137%;
  color: #FFFFFF;
  margin-top: 25px;
}
@media (max-width: 992px) {
  header .header__item .subtitle {
    text-align: center;
    font-size: 26px;
  }
}
@media (max-width: 768px) {
  header .header__item .subtitle {
    font-size: 22px;
  }
}
header .header__item .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 30px;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  max-width: 422px;
  width: 100%;
}
@media (max-width: 992px) {
  header .header__item .info {
    max-width: 100%;
    text-align: center;
    font-size: 26px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 768px) {
  header .header__item .info {
    margin-top: 0;
  }
}
header .header__item .info__item {
  margin-top: 20px;
  padding: 2px 16px;
  background: #1378EF;
  border-radius: 64px;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 150%;
  color: #FFFFFF;
}

.section__about {
  margin: 0 auto;
  padding-top: 150px;
}
@media (max-width: 1300px) {
  .section__about {
    max-width: 970px;
  }
}
@media (max-width: 768px) {
  .section__about {
    padding: 25px;
  }
}
.section__about .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section__about .about__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;
  margin-top: 45px;
}
@media (max-width: 768px) {
  .section__about .about__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 42%;
            flex: 0 0 42%;
    margin-top: 25px;
  }
}
@media (max-width: 500px) {
  .section__about .about__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-top: 15px;
    text-align: center;
  }
}
.section__about .about__item .about__num {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 170%;
  color: #FFFFFF;
  position: relative;
}
@media (max-width: 600px) {
  .section__about .about__item .about__num {
    font-size: 28px;
  }
}
.section__about .about__item .about__num::after {
  content: " ";
  position: absolute;
  width: 71px;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #FFFFFF;
}
@media (max-width: 500px) {
  .section__about .about__item .about__num::after {
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    bottom: -5px;
  }
}
.section__about .about__item .about__text {
  margin-top: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  color: #FFFFFF;
}

.tabs {
  width: 100%;
  margin-top: 40px;
}
@media (max-width: 767px) {
  .tabs {
    margin-top: 25px;
  }
}
.tabs__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 15%;
          flex: 0 0 15%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 767px) {
  .tabs__header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.tabs__header-item {
  position: relative;
  margin: 30px 20px 0 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.59);
  cursor: pointer;
}
@media (max-width: 767px) {
  .tabs__header-item {
    margin: 10px;
  }
}
.tabs__header-item:hover {
  color: #fff;
}
.tabs__content {
  width: 100%;
  margin-top: 35px;
}
.tabs__content-item {
  display: none;
}
.tabs__content-item:target {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 767px) {
  .tabs__content-item:target {
    margin: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.tabs__content-info {
  width: 430px;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 55px;
  color: #FFFFFF;
}
@media (max-width: 767px) {
  .tabs__content-info {
    width: 100%;
    text-align: center;
  }
}
.tabs__content-accordion {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 55px;
  color: #FFFFFF;
}
.tabs__content-accordion-item {
  margin-bottom: 20px;
}

.section__contact .contact {
  max-width: 668px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.section__contact .contact__title {
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 55px;
  color: #FFFFFF;
}
@media (max-width: 767px) {
  .section__contact .contact__title {
    font-size: 35px;
  }
}
@media (max-width: 500px) {
  .section__contact .contact__title {
    font-size: 28px;
  }
}
.section__contact .contact__btn {
  width: 260px;
  height: 260px;
  background: #1378EF;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  margin: 0 auto;
  margin-top: -108px;
}
@media (max-width: 768px) {
  .section__contact .contact__btn {
    width: 200px;
    height: 200px;
    margin-top: -65px;
  }
}
@media (max-width: 500px) {
  .section__contact .contact__btn {
    width: 150px;
    height: 150px;
    font-size: 14px;
    margin-top: -45px;
  }
}

.section__reviews {
  width: 100%;
}
.section__reviews-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 90px;
  position: relative;
}
.section__reviews-container .arrows {
  position: absolute;
  bottom: 0;
  right: 50px;
}
.section__reviews-container .arrows .arrow__btn {
  background: #1378EF;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.section__reviews-container .arrows .arrow__btn-prev:hover .prev__arrow {
  margin-left: 10px;
  -webkit-transition: 2s all ease;
  transition: 2s all ease;
}
.section__reviews-container .arrows .arrow__btn-prev .prev__arrow {
  margin-left: 40px;
}
.section__reviews-container .arrows .arrow__btn-next:hover .next__arrow {
  margin-left: 20px;
  -webkit-transition: 3s all ease;
  transition: 3s all ease;
}
.section__reviews-container .arrows .arrow__btn-next .next__arrow {
  margin-left: -10px;
}
.section__reviews-container .swiper {
  max-width: 860px;
  margin: 0;
}
.section__reviews-container .swiper .swiper-slide {
  padding: 39px 0px 39px 1px;
  background: rgba(24, 24, 24, 0.59);
  cursor: pointer;
}
.section__reviews-container .swiper .swiper-slide .slide__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section__reviews-container .swiper .slide__title {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 170%;
  color: #FFFFFF;
  text-align: center;
}
.section__reviews-container .swiper .slide__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  color: #FFFFFF;
  padding: 10px 10px 0px 18px;
}
.section__reviews .section__title1 {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 170%;
  color: #FFFFFF;
}
.section__reviews .section__subtitle2 {
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 55px;
  color: #FFFFFF;
}

footer {
  background: #121212 url("../img/footer.png") left 40px no-repeat;
}
footer .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1840px;
}
footer .footer__item {
  margin-left: auto;
  max-width: 650px;
  width: 100%;
  padding: 75px;
}
footer .footer__item .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer .footer__item .form__title {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 55px;
  color: #FFFFFF;
  max-width: 550px;
}
footer .footer__item .form__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  color: #FFFFFF;
  margin-top: 35px;
  margin-bottom: 30px;
}
footer .footer__item .form__input {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  color: #FFFFFF;
  padding: 20px 0px 14px 0px;
  border: none;
  border-bottom: 1px solid #FFFFFF;
  background: transparent;
  outline: none;
}
footer .footer__item .form__textarea {
  resize: none;
  margin-top: 35px;
  margin-bottom: 30px;
  min-height: 100px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  color: #FFFFFF;
  padding: 20px 0px 14px 0px;
  border: none;
  border-bottom: 1px solid #FFFFFF;
  background: transparent;
  outline: none;
}
footer .footer__item .form__btn {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  color: #FFFFFF;
  border: none;
  outline: none;
  margin-top: 30px;
  margin-left: auto;
  margin-right: 80px;
  background: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

section {
  padding: 75px 0;
}
@media (max-width: 768px) {
  section {
    padding: 25px 0;
  }
}

nav {
  overflow: hidden;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  display: inline-block;
}
nav a {
  display: block;
  text-decoration: none;
}
nav .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
}
@media (max-width: 768px) {
  nav .navbar .burger {
    display: block;
    position: relative;
    margin-right: 20px;
    width: 52px;
    height: 20px;
    z-index: 102;
  }
  nav .navbar .burger .burger-box {
    height: 3px;
    width: 100%;
    position: absolute;
    background: white;
  }
  nav .navbar .burger .burger-box::after {
    content: "";
    top: 12px;
    right: 0;
    height: 3px;
    width: 100%;
    position: absolute;
    background: white;
  }
  nav .navbar .burger .burger-box::before {
    content: "";
    top: -12px;
    right: 0;
    height: 3px;
    width: 100%;
    position: absolute;
    background: white;
  }
}
nav .menu {
  display: block;
}
@media (max-width: 768px) {
  nav .menu {
    display: none;
  }
}
nav .logo {
  z-index: 1;
}
nav .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
}
nav .menu__list-item {
  margin-right: 25px;
  position: relative;
}
nav .menu__list-item:hover:after {
  width: 100%;
  -webkit-transition: cubic-bezier(0.39, 0.575, 0.565, 1) 0.3s all;
  transition: cubic-bezier(0.39, 0.575, 0.565, 1) 0.3s all;
}
nav .menu__list-item:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  width: 0;
  background-color: white;
}
nav .menu__list-item a {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
}
nav .menu__list-item:last-child {
  margin-right: 0;
}

.overlay {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  border-left: 1px solid rgba(255, 255, 255, 0.11);
  border-right: 1px solid rgba(255, 255, 255, 0.11);
  position: relative;
  overflow: hidden;
}
.overlay .container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 1300px) {
  .overlay .container {
    max-width: 970px;
  }
}
.overlay .container:after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  right: 33%;
  width: 1px;
  background: rgba(255, 255, 255, 0.11);
  z-index: -1;
}
.overlay .container:before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 33%;
  width: 1px;
  background: rgba(255, 255, 255, 0.11);
  z-index: -1;
}
.overlay .burger {
  display: none;
}
.overlay .section__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 170%;
  color: #FFFFFF;
}
.overlay .section__title {
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 55px;
  color: #FFFFFF;
  margin-top: 15px;
}
@media (max-width: 768px) {
  .overlay .section__title {
    font-size: 36px;
  }
}
@media (max-width: 600px) {
  .overlay .section__title {
    font-size: 28px;
  }
}

.cursor {
  position: fixed;
  background: #1378EF;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  z-index: 11111;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform;
  transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
}
.cursor.active {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.follower {
  position: fixed;
  width: 30px;
  height: 30px;
  border: 1px solid #1378EF;
  border-radius: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  z-index: 1111;
  -webkit-transition: 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) background, 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  transition: 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) background, 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) background;
  transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) background, 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  -webkit-transform: translate(2px, 2px);
          transform: translate(2px, 2px);
}
.follower.active {
  -webkit-transform: scale(2);
          transform: scale(2);
  background: #1378EF;
}