header {
  .header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;

    @media(max-width: 992px) {
      flex-wrap: wrap-reverse;
    }
    &__item {
      flex: 0 0 50%;
      @media(max-width: 992px) {
        flex: 0 0 100%;
      }
      &.canvas__item {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 50%;
        }
        @media(max-width: 992px) {
          margin-top: 25px;
          
        }
        @media(max-width: 768px) {
          margin-top: 25px;
          canvas {
            width: 250px;
            height: 250px;
          }
        }
      }

      .title {
        padding-top: 130px;
        font-style: normal;
        font-weight: bold;
        font-size: 78px;
        line-height: 116%;
        color: #FFFFFF;

        @media(max-width: 992px) {
          padding-top: 25px;
          text-align: center;
          font-size: 62px;
        }

        @media(max-width: 768px) {
          padding-top: 25px;
          text-align: center;
          font-size: 36px;
        }
      }


      .subtitle {
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 137%;
        color: #FFFFFF;
        margin-top: 25px;

        @media(max-width: 992px) {
          text-align: center;
          font-size: 26px;
        }

        @media(max-width: 768px) {
          font-size: 22px;
        }
      }

      .info {
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
        column-gap: 20px;
        max-width: 422px;
        width: 100%;

        @media(max-width: 992px) {
          max-width: 100%;
          text-align: center;
          font-size: 26px;
          justify-content: center;
        }

        @media(max-width: 768px) {
          margin-top: 0;
        }

        &__item {
          margin-top: 20px;
          padding: 2px 16px;
          background: #1378EF;
          border-radius: 64px;
          font-style: normal;
          font-weight: normal;
          font-size: 21px;
          line-height: 150%;
          color: #FFFFFF;
        }
      }
    }
  }

}