* {
    font-family: 'Montserrat Alternates', sans-serif;
    cursor: none;
}

body {
    background: #1F1F1F;
    margin: 0;

}


@import "header";
@import "about";
@import "tabs";
@import "contact";
@import "modal";
@import "review";
@import "footer";

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

section {
    padding: 75px 0;

    @media (max-width: 768px) {
        padding: 25px 0;
    }
}

nav {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li {
        display: inline-block;
    }

    a {
        display: block;
        text-decoration: none;
    }

    overflow: hidden;

    .navbar {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 30px;

        @media (max-width: 768px) {
            .burger {
                display: block;
                position: relative;
                margin-right: 20px;
                width: 52px;
                height: 20px;
                z-index: 102;

                .burger-box {
                    height: 3px;
                    width: 100%;
                    position: absolute;
                    background: white;

                    &::after {
                        content: '';
                        top: 12px;
                        right: 0;
                        height: 3px;
                        width: 100%;
                        position: absolute;
                        background: white;
                    }

                    &::before {
                        content: '';
                        top: -12px;
                        right: 0;
                        height: 3px;
                        width: 100%;
                        position: absolute;
                        background: white;
                    }
                }
            }
        }
    }

    .menu {
        display: block;

        @media (max-width: 768px) {
            display: none;
        }
    }

    .logo {
        z-index: 1;
    }

    .menu__list {
        display: flex;
        z-index: 1;

        &-item {
            margin-right: 25px;
            position: relative;

            &:hover {
                &:after {
                    width: 100%;
                    transition: cubic-bezier(0.39, 0.575, 0.565, 1) .3s all;
                }
            }

            &:after {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                height: 1px;
                width: 0;
                background-color: white;
            }

            a {
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 150%;
                color: #FFFFFF;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

}

.overlay {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    border-left: 1px solid rgba(255, 255, 255, 0.11);
    border-right: 1px solid rgba(255, 255, 255, 0.11);
    position: relative;
    overflow: hidden;

    .container {
        max-width: 1300px;
        width: 100%;
        margin: 0 auto;

        @media (max-width: 1300px) {
            max-width: 970px;
        }

        &:after {
            position: absolute;
            content: '';
            top: 0;
            bottom: 0;
            right: 33%;
            width: 1px;
            background: rgba(255, 255, 255, 0.11);
            z-index: -1;
        }

        &:before {
            position: absolute;
            content: '';
            top: 0;
            bottom: 0;
            left: 33%;
            width: 1px;
            background: rgba(255, 255, 255, 0.11);
            z-index: -1;
        }
    }

    .burger {
        display: none;
    }

    .section__subtitle {
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 170%;
        color: #FFFFFF;
    }

    .section__title {
        font-style: normal;
        font-weight: bold;
        font-size: 46px;
        line-height: 55px;
        color: #FFFFFF;
        margin-top: 15px;

        @media(max-width: 768px) {
            font-size: 36px;
        }

        @media(max-width: 600px) {
            font-size: 28px;
        }
    }
}

.cursor {
    position: fixed;
    background: #1378EF;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    user-select: none;
    pointer-events: none;
    z-index: 11111;
    transform: scale(1);
    transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform;
        
    &.active {
        transform: scale(0);
    }

}

.follower {
    position: fixed;
    width: 30px;
    height: 30px;
    border: 1px solid #1378EF;
    border-radius: 100%;
    user-select: none;
    pointer-events: none;
    z-index: 1111;
    transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
         0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) background;
    transform: translate(2px, 2px);

    &.active {
        transform: scale(2);
        background: #1378EF;
    }

}