.tabs {
  width: 100%;
  margin-top: 40px;

  @media (max-width: 767px) {
    margin-top: 25px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    flex: 0 0 15%;
    flex-wrap: wrap;

    @media (max-width: 767px) {
      justify-content: center;
    }

    &-item {
      position: relative;
      margin: 30px 20px 0 20px;
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      line-height: 150%;
      color: rgba(255, 255, 255, 0.59);
      cursor: pointer;

      @media (max-width: 767px) {
        margin: 10px;
      }

      &:hover {
        color: #fff;
      }
    }


  }

  &__content {
    width: 100%;
    margin-top: 35px;

    &-item {
      display: none;

      &:target {
        display: flex;

        @media (max-width: 767px) {
          margin: 10px;
          flex-direction: column;
        }

      }
    }

    &-info {
      width: 430px;
      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      line-height: 55px;
      color: #FFFFFF;

      @media (max-width: 767px) {
        width: 100%;
        text-align: center;
      }
    }

    &-accordion {
      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      line-height: 55px;
      color: #FFFFFF;

      &-item {
        margin-bottom: 20px;
      }
    }
  }
}